<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title and page.title != site.title %}{{ page.title }} &bull;{% endif %}{{ site.title }}</title>
    <link href="{{site.url}}/assets/style.css" media="all" rel="stylesheet" />
  </head>
  <body>
    <div id="main">
      <div class="nav">
        <a href="{{site.url}}/">Home</a> &bull;
        <a href="{{site.url}}/blog">Blog</a> &bull;
        <a href="{{site.url}}/releases">Releases</a>
      </div>
      <br />
      <h1>{{site.title}}</h1>
      <h2>{{page.title}}</h2>
      <hr />
      {{content}}
      <br />
      <div id="footer">
        {{include footer.html}}
      </div>
    </div>
  </body>
</html>
